<div class="review">

  <p><%= review.rating %> / 5</p>
  <p class = "review-comment"><%= review.comment %></p>

  <% if user_signed_in? %>
    <% if review.user_id == current_user.id %>

    <div class="links btn-group">

      <%= link_to "Редактировать", edit_film_review_path(review.film, review), class: "btn btn-custom" %>
      <%= link_to "Удалить", film_review_path(review.film, review), method: :delete, data: { confirm: "Вы уверены?" }, class: "btn btn-custom" %>
    
    </div>

    <% end %>
  <% end %>

</div>